@import "variables.styl"

.container
  max-width main-width

.btn
  cursor pointer

.button-icon
  cursor pointer
  border 0
  background none
  padding 0
  display flex
  align-items center
  justify-content center

.label
  display: inline;
  padding: .3em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  &.orange
    background-color #f0ad4e
  &.red
    background-color #d9534f
  &.blue
    background-color #5bc0de
  &.green
    background-color #5cb85c
  &.dark
    background-color #337ab7

.btn-primary
  background-color main-color
  border-color main-color
  max-width 200px

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:hover
  color: #fff;
  background-color: lightness(main-color, 60%)
  border-color:  lightness(main-color, 60%)
  box-shadow: 0 0 0 0.2rem rgba(30, 152, 212,.5);
