.button
  cursor pointer
  background-color #5682a3
  box-shadow 0 0 0 1px rgb(255, 255, 255)
  border 1px solid #5682a3
  border-radius 3px
  padding 5px
  display flex
  align-items center
  color white
  font-weight 500
  width 100%
  text-align center

.button-icon
  cursor pointer
  border 0
  background none
  padding 0
  display flex
  align-items center
  justify-content center



.label
  display: inline;
  padding: .3em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  &.orange
    background-color #f0ad4e
  &.red
    background-color #d9534f
  &.blue
    background-color #5bc0de
  &.green
    background-color #5cb85c
  &.dark
    background-color #337ab7
